body {
	 background-color: #000;
	 margin: 0;
}
nav{
	transition: 2s;
	
}
.nav{
	width: 100%;
	height: 100px;
	position: fixed;
	display: flex;
}
.na{
	width: 100%;
	height: 90px;
	position: fixed;
	z-index: 9999;

}

.nav{
	height: 100px;
	background-color: rgba(219, 219, 219, 0.027);
	transition: 1s;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}
.loogo{
	min-width: 150px;
	height: 100%;
	background-image: url(../img/logo6.png );  
	background-size: 100%;
	margin-top: 3%;
	margin-left: 25%;
	background-position-y: -30px;
}


.loogo1{
	width: 150px;
	height: 100%;
	background-image: url(../img/logo6.gif );  
	background-size: 100%;
	
	
}
 .overlay {
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 background: linear-gradient(to bottom, rgba(14, 29, 51, 0.8), rgba(14, 29, 51, 0.2));
}
 .hero-slider {
	 width: 100%;
	 height: 100vh;
	 overflow: hidden;
}
 .hero-slider .carousel-cell {
	 width: 100%;
	 height: 100%;
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center !important;
}
 .hero-slider .carousel-cell .inner {
	 position: relative;
	 top: 40%;
	 transform: translateY(-50%);
	 color: white;
	 text-align: center;
}
 .hero-slider .carousel-cell .inner .subtitle {
	 width: 550px;
	 margin-bottom: 50px;
}
.hero-slider .carousel-cell .inner .long-p-img {
	margin-top: 70px;
}
.hero-slider .carousel-cell .inner .long-p-img-2 {
	margin-top: -10px;
}

 .hero-slider .carousel-cell .inner .title {
	 margin-top: -50px;
	 font-family: 'Montserrat', sans-serif;
	 font-size: 2rem;
	 line-height: 1.2em;
	 text-transform: uppercase;
	 letter-spacing: 3px;
	 margin-bottom: 80px;
}
.hero-slider .carousel-cell .inner .title-2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2rem;
	line-height: 1.2em;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 10px;
	font-weight: 800;
}
.hero-slider .carousel-cell .inner .title-3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2rem;
	line-height: 1.2em;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 10px;
	font-weight: 800;
	margin-top: 30px;
}
.hero-slider .carousel-cell .inner .long-p {
	margin-top: -50px;
	margin-bottom: 60px;
}
.hero-slider .carousel-cell .inner .long-p-2 {
	margin-top: -120px;
	margin-bottom: 60px;
}
.hero-slider .carousel-cell .inner .long-p-3 {
	margin-top: -150px;
	margin-bottom: 10px;
}
 .hero-slider .carousel-cell .inner p {
	 padding: 14px 250px;
	 font-family: 'Montserrat', sans-serif;
	 font-size: 1rem;
	 letter-spacing: 3px;
	 color: #fff;
	 line-height: 30px;
}
	.hero-slider .carousel-cell .inner .long_p {
		padding: 14px 150px;
		font-family: 'Montserrat', sans-serif;
		font-size: 1rem;
		letter-spacing: 3px;
		color: #fff;
		line-height: 30px;
		margin-bottom: -30px;
	}
 .hero-slider .flickity-prev-next-button {
	 width: 80px;
	 height: 80px;
	 background: transparent;
}
 .hero-slider .flickity-prev-next-button:hover {
	 background: transparent;
}
 .hero-slider .flickity-prev-next-button .arrow {
	 fill: white;
}
 .hero-slider .flickity-page-dots {
	 bottom: 30px;
}
 .hero-slider .flickity-page-dots .dot {
	 width: 30px;
	 height: 4px;
	 opacity: 1;
	 background: rgba(255, 255, 255, 0.5);
	 border: 0 solid white;
	 border-radius: 0;
}
 .hero-slider .flickity-page-dots .dot.is-selected {
	 background: #f00;
	 border: 0 solid #f00;
}
 
.hero-slider .carousel-cell .inner .btn {
	border: 1px solid #fff;
	padding: 14px 18px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.8rem;
	letter-spacing: 3px;
	color: #fff;
	text-decoration: none;
	transition: all 0.2s ease;
}
.hero-slider .carousel-cell .inner .btn:hover {
	background: #fff;
	color: #000;
}



















@media (max-width: 1200px) {
	.hero-slider .carousel-cell .inner .title {
		font-size: 1.5rem;
		margin-bottom: 30px;
}
.hero-slider .carousel-cell .inner .subtitle {
	width: 450px;
	margin-bottom: 10px;
}

.hero-slider .carousel-cell .inner .btnn {
	padding: 14px 170px;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9rem;
	letter-spacing: 3px;
	color: #fff;
	line-height: 1.2rem;
}
.hero-slider .carousel-cell .inner .long-p-img {
	margin-top: 150px;
}
.hero-slider .carousel-cell .inner .long-p {
	margin-top: -70px;
	margin-bottom: 10px;
}

.hero-slider .carousel-cell .inner .btn {
	border: 1px solid #fff;
	padding: 8px 12px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.5rem;
	letter-spacing: 3px;
	color: #fff;
	text-decoration: none;
	transition: all 0.2s ease;
}
.hero-slider .carousel-cell .inner .long-p-img-3 {
	margin-top: 130px;
}
.hero-slider .carousel-cell .inner .long-p-3 {
	margin-top: -80px;
	margin-bottom: 10px;
}
.hero-slider .carousel-cell .inner .btnnn {
	padding: 14px 80px;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.5rem;
	letter-spacing: 3px;
	color: #fff;
	line-height: 0.8rem;
}
.hero-slider .carousel-cell .inner .long-p-img {
	margin-top: 0px;
}
.hero-slider .carousel-cell .inner .long-p {
	margin-top: -50px;
	margin-bottom: 20px;
}
.hero-slider .carousel-cell .inner .long-p-p {
	font-size: 0.9rem;
}
.hero-slider .carousel-cell .inner .long-p-img-2 {
	margin-top: 140px;
}
.hero-slider .carousel-cell .inner .long-p-img-3 {
	margin-top: 120px;
}
.hero-slider .carousel-cell .inner .title-2 {
	line-height: 1.2em;
	margin-bottom: -20px;
	margin-top: -20px;
}
.hero-slider .carousel-cell .inner .title-3 {
	line-height: 1.2em;
	margin-bottom: -20px;
	margin-top: -10px;
}
}






































@media only screen and (max-width: 400px) {
	.hero-slider .carousel-cell .inner .title {
		margin-top: -50px;
		font-family: 'Montserrat', sans-serif;
		font-size: 0.5rem;
		line-height: 1.2em;
		text-transform: uppercase;
		letter-spacing: 3px;
		margin-bottom: 30px;
 }
.hero-slider .carousel-cell .inner .subtitle {
	width: 250px;
	margin-bottom: 50px;
	margin-top: 120px;
}

.hero-slider .carousel-cell .inner .btnn {
	padding: 14px 80px;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.6rem;
	letter-spacing: 3px;
	color: #fff;
	line-height: 1rem;
}
.hero-slider .carousel-cell .inner .long-p-img {
	margin-top: 150px;
}
.hero-slider .carousel-cell .inner .long-p {
	margin-top: -70px;
	margin-bottom: 10px;
}

.hero-slider .carousel-cell .inner .btn {
	border: 1px solid #fff;
	padding: 8px 12px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.5rem;
	letter-spacing: 3px;
	color: #fff;
	text-decoration: none;
	transition: all 0.2s ease;
}
.hero-slider .carousel-cell .inner .long-p-img-3 {
	margin-top: 130px;
}
.hero-slider .carousel-cell .inner .long-p-3 {
	margin-top: -80px;
	margin-bottom: 10px;
}
.hero-slider .carousel-cell .inner .btnnn {
	padding: 14px 80px;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.5rem;
	letter-spacing: 3px;
	color: #fff;
	line-height: 0.8rem;
}
.hero-slider .flickity-page-dots {
	display: none;
}
.hero-slider .carousel-cell .inner .long-p-img {
	margin-top: 220px;
}
.hero-slider .carousel-cell .inner .long-p {
	margin-top: -50px;
	margin-bottom: 20px;
}
.hero-slider .carousel-cell .inner .long-p-p {
	font-size: 0.5rem;
}
.hero-slider .carousel-cell .inner .long-p-img-2 {
	margin-top: 140px;
}
.hero-slider .carousel-cell .inner .long-p-img-3 {
	margin-top: 120px;
}
.hero-slider .carousel-cell .inner .title-2 {
	line-height: 1.2em;
	margin-bottom: -20px;
	margin-top: -20px;
}
.hero-slider .carousel-cell .inner .title-3 {
	line-height: 1.2em;
	margin-bottom: -20px;
	margin-top: -10px;
}
}
